
.bg-image{
  background-image: url('img/377dd3be-54b4-4aa6-b165-f81e19c31a38.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
div.absolute {
  position: absolute;
  top: 200px;
  right: 500px;
}