
.bg-image{
  background-image: url('img/hostel-rgu.101.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
div.absolute {
  position: absolute;
  top: 200px;
  right: 500px;
}